@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*{
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
:root{
 --black: #111222;
 --yellow: #ffbf00;
 --white: #fff;
 --grey:#aaa;
 --box-shadow-pp: 1px 5px 50px rgba(250, 107, 219, 0.4);
 --border: 2px solid rgba(0,0,0,.8);
 --outline: 1px solid rgba(0,0,0,.1);
}

body{
  background: var(--black);
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: var(--white);
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 50px;
  margin-bottom: 50px;
}

.box{
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .image{
    position: relative;
    width: 800px;
    height: 400px;
    overflow: hidden;

    img{
      z-index: 111;
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 10px;
    }
  }
  .text
}

/* .one-page{
  h1{
    color: var(--white);
    font-size: 50px;
    text-align: center;
    margin-bottom: 50px;
  }
  .container{
    display: flex;
    position: relative;
    width: 1150px;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    
    .box{
        position: relative;
        width: 1150px;
        display: flex;
        justify-content: center;
        align-items: center;

        .image{
          position: relative;
          width: 800px;
          height: 400px;
          overflow: hidden;
          border-radius: 10px;
          box-shadow: var(--box-shadow-pp);

          img{
            z-index: 111;
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            object-fit: cover;
          }
        }
        .text-box{
          z-index: 222;
          color: var(--white);
          background: rgba(255,255,255,0.1);
          backdrop-filter: blur(20px);
          padding: 40px;
          max-width: 400px;
          border: 1px solid rgba(255,255,255,0.1);
          border-radius: 10px;
          transform: translate(-80px, 50px);

          h3{
            font-size: 30px;
            margin-bottom: 10px;
          }
          p{
            font-size: 14px;
          }
        }
    }
    .icons{
      margin-top: 100px;

       a{
        color: var(--white);
        font-size: 30px;
        margin: 60px;
       }
    }
  }
} */

/*.two-page{
  .container{
    h1{
      font-size: 40px;
      text-align: center;
      margin-bottom: 80px;
    }
    .box{
      .text-info{
        width: 700px;
        margin-left: 50px;
        z-index: 222;
            color: var(--white);
            background: rgba(255,255,255,0.1);
            backdrop-filter: blur(20px);
            padding: 40px;
            max-width: 400px;
            border: 1px solid rgba(255,255,255,0.1);
            border-radius: 10px;
            transform: translate(-80px, 50px);
      }
      .image{
        position: relative;
        width: 800px;
        height: 400px;
        overflow: hidden;
        border-radius: 10px;
        box-shadow: var(--box-shadow-pp);

        img{
          z-index: 0;
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          object-fit: cover;
        }
      }
    }
  }
}*/