@import url('https://fonts.googleapis.com/css2?family=Tiny5&display=swap');

*{
  font-family: "Tiny5", sans-serif;
  font-weight: 400;
  font-style: normal;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
  
:root{
 --black: #111222;
 --yellow: #ffbf00;
 --white: #fff;
 --grey:#aaa;
 --box-shadow-pp: 0px 0px 50px rgba(250, 107, 219, 0.4);
 --box-shadow-b: 0px 0px 50px rgba(253, 251, 95, 0.5);
 --box-shadow-p: 0px 0px 50px rgba(255, 111, 142, 0.5);
 --border: 1px solid rgba(255,255,255,0.1);
 --outline: 1px solid rgba(0,0,0,.1);
}

body{
  background: var(--black);
}

section{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 80px 100px;
  color: var(--white);
}

.container{
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1{
  font-size: 50px;
  margin-bottom: 50px;
}

.one-page{
.box{
  position: relative;
  width: 1150px;
  display: flex;
  justify-content: center;
  align-items: center;

  .image{
    position: relative;
    width: 800px;
    height: 400px;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: var(--box-shadow-pp);

    img{
      z-index: 111;
      position: absolute;
      top: 0; left: 0;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }
  .text-box{
    z-index: 222;
    background: rgba(255,255,255,0.1);
    backdrop-filter: blur(20px);
    padding: 40px;
    max-width: 400px;
    border: var(--border);
    border-radius: 10px;
    transform: translate(-80px, 50px);

    h3{
      font-size: 2em;
      margin-bottom: 10px;
    }
  }
}
.icons{
  margin-top: 100px;

  a{
    color: var(--white);
    font-size: 2em;
    margin: 60px;
  }
}
}

.two-page{
  .box{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .image{
      position: relative;
      width: 800px;
      height: 400px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: var(--box-shadow-b);
  
      img{
        z-index: 111;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
  }
.text-info{
  width: 700px;
  margin-left: 50px;
  
  h4{
    font-size: 1.8em;
    margin-bottom: 10px;
  }
}
}

.three-page{
  .box{
    position: relative;
    width: 1150px;
    display: flex;
    justify-content: center;
    align-items: center;
  
    .image{
      position: relative;
      width: 800px;
      height: 400px;
      overflow: hidden;
      border-radius: 10px;
      box-shadow: var(--box-shadow-p);
  
      img{
        z-index: 111;
        position: absolute;
        top: 0; left: 0;
        width: 100%;
        height: 100%;
        object-fit: cover;
      }
    }
    .media-info{
      width: 400px;
      margin-left: 50px;

      li{
        list-style: none;
        font-size: 1.4em;

        a{
          color: var(--white);
          text-decoration: none;
        }
      }
      li:not(:last-child){
        margin-bottom: 50px;
      }
      li:nth-child(1), li:nth-child(5){
        padding-left: 100px;
      }
      li:nth-child(2), li:nth-child(4){
        padding-left: 50px;
      }
    }
  }
}

.three-page{
  margin-bottom: 100px;
}
